<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>zoom</display-name>
  <servlet>
    <servlet-name>registrarUsuario</servlet-name>
    <servlet-class>co.zoom.servlets.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrarUsuario</servlet-name>
    <url-pattern>/registrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ingresoServlet</servlet-name>
    <servlet-class>co.zoom.servlets.IngresoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingresoServlet</servlet-name>
    <url-pattern>/ingresoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>administradorServlet</servlet-name>
    <servlet-class>co.zoom.servlets.AdministradorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>administradorServlet</servlet-name>
    <url-pattern>/administradorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usuarioServlet</servlet-name>
    <servlet-class>co.zoom.servlets.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usuarioServlet</servlet-name>
    <url-pattern>/usuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>subtemaServlet</servlet-name>
    <servlet-class>co.zoom.servlets.SubtemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subtemaServlet</servlet-name>
    <url-pattern>/subtemaServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Zoom BD</description>
    <res-ref-name>jdbc/zoom</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>